@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");

.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  max-width: 1100px;
  height: 600px;
  padding: 50px 90px;
  border: 10px double grey;
  border-radius: 35px;

  @media screen and (max-width: 1000px) {
    height: 500px;
  }

  @media screen and (max-width: 900px) {
    height: 470px;
  }

  @media screen and (max-width: 767px) {
    height: 400px;
    padding: 20px 50px;
  }

  @media screen and (max-width: 650px) {
    height: 370px;
  }
  @media screen and (max-width: 570px) {
    height: 330px;
  }

  @media screen and (max-width: 500px) {
    height: 320px;
  }
}

.slider {
  display: flex;
  justify-self: center;
  align-self: flex-start;
  /* aspect-ratio: 16 / 8.5; */
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem - 0.75rem hsla(0, 0%, 0%, 0.25);
  max-width: 900px;
  height: 480px;
  /* border: 1px solid red; */
  transition: scroll-behavior 2s;

  @media screen and (max-width: 1000px) {
    height: 420px;
  }

  @media screen and (max-width: 900px) {
    height: 390px;
  }

  @media screen and (max-width: 768px) {
    height: 350px;
  }

  @media screen and (max-width: 650px) {
    height: 300px;
  }
  @media screen and (max-width: 570px) {
    height: 270px;
  }
  @media screen and (max-width: 500px) {
    height: 250px;
  }
}

.slider div {
  flex: 1 0 100%;
  scroll-snap-align: start;
  position: relative;
}

img {
  width: 100%;
  max-height: 400px;
  border-radius: 15px;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: "Shantell Sans", cursive;

  @media screen and (max-width: 1000px) {
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.slider-nav {
  display: flex;
  justify-content: end;
  /* align-self: end; */
  justify-self: end;
  column-gap: 1rem;
  position: absolute;
  bottom: 5rem;
  right: 40px;
  transform: translateX(-50%);
  z-index: 1;

  @media screen and (max-width: 1000px) {
    bottom: 2.5rem;
  }
  @media screen and (max-width: 900px) {
    bottom: 6rem;
    right: 18rem;
  }

  @media screen and (max-width: 768px) {
    bottom: 4rem;
    right: 15rem;
    column-gap: 0.5rem;
  }
  @media screen and (max-width: 650px) {
    bottom: 5rem;
    right: 12rem;
    column-gap: 0.5rem;
  }
  @media screen and (max-width: 570px) {
    bottom: 5.5rem;
    right: 10rem;
    column-gap: 0.5rem;
  }
  @media screen and (max-width: 500px) {
    bottom: 7rem;
    right: 8rem;
    column-gap: 0.5rem;
  }
}

.slider-nav a {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: red;
  opacity: 0.75;
  transition: opacity ease 250ms;

  @media screen and (max-width: 1000px) {
    width: 0.7rem;
    height: 0.7rem;
  }

  @media screen and (max-width: 950px) {
    width: 0.6rem;
    height: 0.6rem;
  }
}

/* .slider-nav a:any-link {
    border: 1px solid red;
    background-color: black
} */

.slider-nav a:hover {
  background-color: yellowgreen;
}
